:host {
  display: flex;
  justify-content: center;
  margin: 100px 0;
}

mat-form-field {
  width: 100%;
  min-width: 500px;
}

mat-card-header, mat-card-content {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.button-container {
  display: flex;
  justify-content: flex-end;
}
